# ================== #
# PHPstorm Generated #
# ================== #

.idea/*
buysellsfsu/logs/*
buysellsfsu/tmp/*

# CakePHP 2
# ignore all logs

gatorstore/vendors/*
gatorstore/tmp/cache/*
gatorstore/tmp/logs/*
gatorstore/tmp/sessions/*
gatorstore/tmp/tests/*
