# ================== #
# PHPstorm Generated #
# ================== #

.idea/*
buysellsfsu/logs/*
buysellsfsu/tmp/*

# CakePHP 2
# ignore all logs
*.log

gatorstore/app/tmp/cache/*
gatorstore/app/tmp/logs/*
gatorstore/app/tmp/sessions/*
gatorstore/app/tmp/tests/*
gatorstore/app/Config/core.php
gatorstore/app/Config/database.php
gatorstore/vendors/*
