# ================== #
# PHPstorm Generated #
# ================== #

.idea/*
buysellsfsu/logs/*
buysellsfsu/tmp/*

# CakePHP 2
# ignore all logs

gatorstore/vendors/*
gatorstore/app/tmp/cache/models/shopping_*
gatorstore/app/tmp/cache/persistent/shopping_*
gatorstore/app/tmp/cache/cake_toolbar_*
gatorstore/app/tmp/logs/*.log
