/* Title */
h2{
    color:black !important;
    font-weight: bold;
    font-size: 40px !important;
}

/* multi-item carousel */
.carousel-control {
    padding-top:10%;
    width:5%;
}

/* carousel image */
.row .col-xs-4 img {
    max-width: 640px ;
    height: 360px;
}

.row .col-xs-4 a{
    color: white;
}
.row .col-xs-4 h3 {
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: firebrick;
    opacity: 0.9;
}
