#mmap {
  height: 250px;
  width: 500px;
}
#dmap {
  height: 200px;
  width: 700px;
  align-content: center;
}
th, td {
    padding: 7px;
}
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:2px solid gray;
}
.div-home-img {
    height: 180px;
    width: 200px;
    background-color: white;
    float: left;
    overflow: hidden;
    margin: 10px;
}
.div-list-img {
    height: 150px;
    width: 150px;
    background-color: white;
    float: left;
    overflow: hidden;
    margin: 10px;
}
.div-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.errorPopUp{
    position: relative;
    bottom:0;
}
.error-color {
  color: red;
}
